@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

@font-face {
    font-family: Norse Bold;
    src: url(.//static/fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;

}


.container {
    display: flex;
    background-size: contain;
    background-position: center center;
    flex-wrap: wrap;

}

.pics {
    flex: 1 1 0;
    min-width: 0;
    position: relative;

}

.bg-img {
    width: 100%;
    height: 100%;
}

.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.pics .logo {
    position: absolute;
    top: 20%;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

    & h1 {
        color: white;
        font-family: 'Norse Bold';
    }

    & img {
        width: 75px;
        height: 75px;
    }
}

.form {
    flex: 2 1 0;
    min-width: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: #F9FAFB;
}



.form-title {
    font-size: 1.3rem;
    padding: 3rem 20% 10% 2rem;
    line-height: 1.5rem;
}

.form-body {
    background-color: white;
    padding-top: 2rem;
    padding-left: 2rem;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

form {
    flex-grow: 1;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 5rem;
    row-gap: 2rem;
    padding-bottom: 2rem;

    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.form-control input {
    appearance: none;
    width: 16rem;
    height: 2rem;
    border: 2px #E5E7EB solid;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.form-control input:valid {
    border: #85E89D 2px solid;
}

.form-control input:invalid:not(:placeholder-shown) {
    border: red 2px solid;
    box-shadow: 0 0 5px rgba(212, 101, 101, 0.5);
}

.form-control input:focus,
.form-control input:focus-visible {
    outline: none;
    border: #6485E1 2px solid;
    box-shadow: 0 0 5px rgba(100, 133, 225, 0.5);
}

.form-footer {
    padding-top: 2rem;
    padding-left: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-footer button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #596D48;
    border: none;
    border-radius: 12px;
    width: 10rem;
}

.footer {
    padding-top: 2rem;
}